<nz-breadcrumb>
    <nz-breadcrumb-item>
        <span nz-icon nzType="home" [routerLink]="['/']" routerLinkActive="router-link-active"></span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <a>
            <span nz-icon nzType="user"></span>
            <span>Application List</span>
        </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Application</nz-breadcrumb-item>
</nz-breadcrumb>
<div>
    <p nz-typography nzType="danger">AboutPage works!</p>
    <button [routerLink]="['/']" routerLinkActive="router-link-active" nz-button nzType="primary">Home >></button>
</div>